// Imports
@import 'nib'
@import 'mixins'
@import 'base'
@import 'components'
// end Imports
.navbar-header
	width 20%
	float left
.navbar-collapse
	width 80%
	padding-left 10%
.nav-container
	position relative
	height 10rem
	margin-top 20%
	li
		position absolute
		height $menu-item-height
		padding-left 0rem
		transition padding-left 1s
		&:hover
			padding-left 1rem
.main-content
	height 70vh
	.listing
		margin auto
		border-radius 5px
		border: solid 1px #FFC0CB;
		padding: 1rem;
		width: 50%;
		zebra(, #D0ABAB, 'li')
// Media queries
// If screen-width >= 768px then ...
@media (min-width: 768px)
	body
	#site-header
	#site-footer
	.main-content
	#site-header nav
	.container-fluid
		width 100%
	#site-header
	.navbar-header
	#site-footer
	.main-content
		padding-left 1%
		padding-right 1%
		.listing
			width 30%
	#site-header
	#site-footer
		position fixed;
		background-color $header-footer-bg-color
	#site-header
		top 0
		height 8rem
		li
			min-width $menu-item-width
			float left
			text-align center
			&:hover
				padding-left 0
			a
				border-bottom 0px
				&:hover
					background-color #efefef
					text-decoration none
			&.active a
				border-bottom solid 5px black
	#site-header nav
		margin-top 1rem
	#site-footer
		bottom 0
		padding-top 1rem
	.navbar-header
	.navbar-collapse
		float left
	.navbar-header
		min-width 20%
	.navbar-default
		width 100%
		border 0 !important
	.navbar-collapse
		min-width 70%
	.nav-container
		position relative
		height auto
		margin-top 1.5rem
		margin-left 5%
		overflow visible
		li
			position absolute
	.main-content
		display flex
		float left
		clear left
		margin-top 9rem
		h1
			position absolute
	#site-footer
		height 3rem
		&:hover
			height auto
		ul
			float left
			min-width 33%
			li
				text-align center
// Put #menu-items in page number order for display.
for item in (1..$menu-item-count)
	#menu-item-{item}
		top $menu-item-height * item
		left 0
	@media (min-width: 768px)
		#menu-item-{item}
			left $menu-item-width * item
			top 0
