<div class="carousel-wrapper" tabindex="0">
    <div class="cs3-carousel">
        <form class="slide-container" name="slide-viewer" method="post" action="./">
            <ul class="slide-navbar">
                <li class="slide">
                    <input type="radio" class="slide-selector" name="slide-viewer-slides" tabindex="1" id="slides-00" checked="checked" />
                    <label for="slides-00" class="slide-selector-indicator"><!-- / --></label>
                    <section class="slide-content photo-1">
                        <h1>Photo Slider</h1>
                    </section>
                </li>
                <li class="slide">
                    <input type="radio" class="slide-selector" name="slide-viewer-slides" tabindex="2" id="slides-01" />
                    <label for="slides-01" class="slide-selector-indicator"><!-- / --></label>
                    <section class="slide-content photo-2">                        
                    </section>
                </li>
                <li class="slide">
                    <input type="radio" class="slide-selector" name="slide-viewer-slides" tabindex="3" id="slides-02" />
                    <label for="slides-02" class="slide-selector-indicator"><!-- / --></label>
                    <section class="slide-content photo-3">                        
                    </section>
                </li>
                <li class="slide">
                    <input type="radio" class="slide-selector" name="slide-viewer-slides" tabindex="4" id="slides-03" />
                    <label for="slides-03" class="slide-selector-indicator"><!-- / --></label>
                    <section class="slide-content photo-4">                        
                    </section>
                </li>
                <li class="slide">
                    <input type="radio" class="slide-selector" name="slide-viewer-slides" tabindex="4" id="slides-04" />
                    <label for="slides-04" class="slide-selector-indicator"><!-- / --></label>
                    <section class="slide-content photo-5">                        
                    </section>
                </li>
                <li class="slide">
                    <input type="radio" class="slide-selector" name="slide-viewer-slides" tabindex="5" id="slides-05" />
                    <label for="slides-05" class="slide-selector-indicator"><!-- / --></label>
                    <section class="slide-content photo-6">                        
                    </section>
                </li>
            </ul>
        </form>
    </div>
</div>